<HTML>
  <Head>
    <Title>About Page</Title>
  </Head>
  <Body>
    <h1>
      About
    </h1>
    <%= link_to 'Home', root_path %>
    <hr>
    <h2>
      Welcome to Kshitij's blog
    </h2>
    <hr>
    <p>
      This is the about page of the rails application!
      This is where it all began.
    </p>
  </Body>
</HTML>